<link rel="stylesheet" type="text/css" href="css/game.css">


<div class="row">
    <iframe src="" frameborder="0"></iframe>
</div>

<div class="row">
  
    <body>
  
        <div>
          <a href="#">
            <span class="left"></span>
          </a>
        </div>
        
        <div>
          <a href="#">
            <span class="top"></span>
          </a>
        </div>
        
        <div>
          <a href="#">
            <span class="bottom"></span>
          </a>
        </div>
        
        <div>
          <a href="#">
            <span class="right"></span>
          </a>
        </div>
        
      </body>
</div>

