<html>
<body>
<link rel="stylesheet" type="text/css" href="css/game.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
 <script>
  const socket = io.connect('http://72.76.33.46:3000');
  socket.on('image', (image) => {
    const imageElm = document.getElementById('image');
    imageElm.src = `data:image/jpeg;base64,${image}`;
  });


  document.body.addEventListener("click", function(e) {
    if(e.target && e.target.nodeName == "NAV") {
      socket.emit('move', "");
    }
    else if(e.target && e.target.nodeName == "A") {
        console.log(e.target.id)
        console.log(e.target.nodeName)
        switch(e.target.id) {
          case "up_d":  socket.emit('move', "w");  break;
          case "down_d": socket.emit('move', "s");  break;
          case "left_d": socket.emit('move', "a");  break;
          case "right_d": socket.emit('move', "d");  break;
          case "up_o": socket.emit('move', "r");  break;
          case "down_o": socket.emit('move', "f"); break;
        }
    }
  });
  let dpads = Array.prototype.slice.call(document.getElementsByClassName('d-pad'), 0),
        opads = Array.prototype.slice.call(document.getElementsByClassName('o-pad'), 0),
        els = dpads.concat(opads);
  function dir(dir) {
    for (let i = 0; i < els.length; i++) {
      const el = els[i],
            d = el.className.indexOf('d-') !== -1,
            what = d ? 'd-pad' : 'o-pad';
      console.log(what);
      el.className = what + ' ' + dir;
    }
  }
  document.body.onkeyup = function(e) {
    switch(e.which) {
      case 37: dir('left'); console.log("hey"); break;
      case 39: dir('right'); break;
      case 38: dir('up'); break;
      case 40: dir('down'); break;
    }
  };
</script>

<div class="row">
  <img id="image">
</div>
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div class="set setbg white">
          <nav class="d-pad">
            <a id="up_d"class="up" href="#"></a>
            <a id="right_d"class="right" href="#"></a>
            <a id="down_d"class="down" href="#"></a>
            <a id="left_d"class="left" href="#"></a>
          </nav>
          <nav class="o-pad">
            <a id="up_o" class="up" href="#"></a>
            <a id="down_o" class="down" href="#"></a>
          </nav>
        </div>
      </div>

      <div class="col-3">

  </div>


</div>
</body>
</html
